#titleDiv{
  border-bottom: 1px solid black;
}
#contentDiv{
  width: 1300px;
  height: 500px;
  margin: auto;
  margin-top: 20px;
}
#sideDiv{
  border-right: 1px solid black;
  width: 200px;
  height: 600px;
  float: left;
  padding-top: 50px;
}
.subTitle{
  height: 40px;
  line-height: 40px;
  width: 170px;
  padding-left: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
}
.changeTitle{
  height: 60px;
  line-height: 60px;
  width: 170px;
  padding-left: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}
#fundingDiv{
  width: 1095px;
  height: 500px;
  float: right;
  padding-top: 50px;
}