#titleDiv{
  border-bottom: 1px solid black;
}
#contentDiv{
  width: 1300px;
  margin: auto;
  margin-top: 20px;
}
#sideDiv{
  border-right: 1px solid black;
  width: 200px;
  height: 1300px;
  float: left;
  padding-top: 50px;
}
.subTitle{
  height: 40px;
  line-height: 40px;
  width: 170px;
  padding-left: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
}
.changeTitle{
  height: 60px;
  line-height: 60px;
  width: 170px;
  padding-left: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}
#productDiv{
  width: 1095px;
  float: right;
  padding-top: 30px;
}
#serachResult{
  margin-left: 50px;
  width: 800px;
}
#serachMent1{
  color: red;
  font-size: 25px;
  font-weight: bold;
}
#serachMent2{
  font-size: 20px;
  font-weight: bold;
}
#totalMent{
  display: block;
  margin-left: 80px;
  position: absolute;
  margin-top: 10px;
  font-weight: bold;
}
#heightDiv{
  height: 1298px;
}
#productTable{
  border-spacing: 30px;
  margin-left: 47.5px;
  margin-top: 20px;
}
.productTd{
  height: 400px;
  width: 293.3px;
  border: 1px solid white;
  transition: 0.2s;
  cursor: pointer;
}
.productTd:hover{
  border: 1px solid lightgray;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
#imgId{
  width: 250px;
  margin-left: 21px;
  margin-top: -10px;
}
#soldOutImgId{
  width: 250px;
  margin-left: 21px;
  margin-top: -10px;
  opacity: 0.5;
  filter: grayscale(100%);
}
#productInfo{
  width: 250px;
  margin: auto;
  margin-top: 10px;
}
#artistInfo{
  display: block;
  font-size: 13px;
  color: gray;
}
#nameInfo, #priceInfo{
  display: block;
  margin-top: 5px;
  font-weight: bold;
}
#nameInfo{
  font-size: 18px;
}
#pageDiv{
  height: 30px;
  width: 1000px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 50px;
}
#pageSpan{
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}
.arrowBtn{
  font-weight: bold;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}
#noName{
  color: white;
  user-select: none;
  cursor: default;
}
#adContainer {
  border: 1px solid gray;
  position: absolute;
  top: 300px;
  right: 100px;
  padding-bottom: 10px;
}
#scrollTopBtn{
  width: 40px;
  cursor: pointer;
  background-color: white;
  font-weight: bold;
  color: gray;
  border: 2px solid gray;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 38px;
}