#titleDiv{
  border-bottom: 1px solid black;
}
#contentDiv{
  width: 1300px;
  margin: auto;
  padding-top: 20px;
}
#subTitleDiv{
  width: 1300px;
  height: 100px;
  text-align: center;
}
#subTitleDiv > h1{
  font-size: 40px;
}
#orderTitle, #delInfoTitle{
  display: block;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 100px;
  margin-bottom: 10px;
}
#orderSubMent{
  display: block;
  float: right;
  color: lightgray;
  font-size: 12px;
  font-weight: bold;
  margin-top: -25px;
  margin-right: 100px;
}
#orderTable, #delInfoTable{
  width: 1100px;
  text-align: center;
  border-collapse: collapse;
}
#orderTable{
  margin: auto;
}
.orderTh{
  border-top: 2px solid black;
  border-bottom: 1px solid lightgray;
  height: 50px;
  padding-top: 30px;
}
.orderTd{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}
#firstTd, #thirdTd, #fifthTd, #sixthTd{
  width: 120px;
}
#secondTd{
  text-align: left;
}
#secondTdDiv{
  width: 500px;
  height: 90px;
  margin-left: 20px;
  margin-top: 10px;
  float: left;
}
#secondTdDiv > div{
  width: 500px;
  height: 70px;
  margin-top: 15px;
  cursor: pointer;
}
#secondTdDiv > div:hover{
  text-decoration: underline;
}
#artistNameSpan{
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: gray;
}
#productNameSpan{
  display: block;
  font-weight: bold;
}
#fourthTd{
  width: 70px;
}
#totalTd{
  height: 50px;
}
#totalDiv{
  width: 600px;
  height: 30px;
  float: right;
  margin-top: 5px;
  font-weight: bold;
}
#totalDiv > span{ 
  margin-left: 10px;
  margin-right: 10px;
}
#totalPriceSpan{
  color: red;
  font-size: 20px;
}
#delInfoDiv{
  width: 1300px;
  height: 500px;
}
#delInfoTitle{
  margin-left: 100px;
  margin-top: 100px;
}
#delInfoTable{
  border-top: 2px solid black;
  width: 1100px;
  margin-left: 100px;
  float: left;
}
.delInfoName, #addressName{
  height: 50px;
  width: 120px;
  font-size: 14px;
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
  color: rgb(72, 72, 72);
}
.delInfoName, .delInfoTd, #addressName{
  border-bottom: 1px solid black;
}
.delInfoName{
  width: 180px;
}
.delInfoTd{
  height: 50px;
  text-align: left;
  color: rgb(72, 72, 72);
}
#addressName{
  height: 150px;
}
#delTextArea{
  font-size: 16px;
  font-weight: bold;
}

#btnDiv{
  width: 1300px;
  height: 100px;
  text-align: center;
}
#payBtn{
  height: 50px;
  width: 250px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 10px;
  border: 2px solid black;
  transition: all 0.4s;
}
#payBtn:hover{
  border: none;
  background-color: rgb(99, 99, 99);
  color: whitesmoke;
}
