#mainDiv{
  width: 1000px;
  height: 750px;
  margin: auto;
}
#titleDiv{
  height: 130px;
  margin-top: 20px;
}
#mainTitleDiv{
  width: 180px;
  height: 100px;
  margin: auto;
  cursor: pointer;
}
#changeDiv{
  border: 2px solid black;
  width: 700px;
  height: 440px;
  padding-top: 40px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
}
#contentDiv{
  width: 500px;
  height: 210px;
  margin: auto;
}
#contentNameDiv{
  width: 120px;
  height: 100px;
  float: left;
  margin-left: 30px;
  margin-top: 70px;
}
.subTitleId{
  font-weight: bold;
  font-size: 17px;
}
#contentInDiv{
  width: 340px;
  height: 100px;
  float: right;
  text-align: left;
  margin-top: 70px;
}
#content1{
  height: 50px;
  margin-top: -7px;
}
#content2{
  height: 50px;
  margin-top: 15px;
}
#pwd, #pwdChk{
  width: 295px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  padding-left: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid lightgray;
}
#btnDiv{
  margin-top: 20px;
}
#changeBtn{
  height: 50px;
  width: 350px;
  font-size: 17px;
  font-weight: bold;
  color: white; 
  background-color: black;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s;
}
#changeBtn:hover{
  border: none;
  background-color: rgb(99, 99, 99);
  color: whitesmoke;
}