#mainDiv{
  width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}
#titleDiv{
  height: 130px;
  margin-top: 20px;
}
#mainTitleDiv{
  width: 180px;
  height: 100px;
  margin: auto;
}
#mainTitleDiv:hover{
  cursor: pointer;
}
#joinDiv{
  border: 2px solid black;
  width: 600px;
  height: 980px;
  padding-top: 40px;
  margin: auto;
  border-radius: 10px;
}
h1{
  font-size: 35px;
  text-align: center;
  margin-bottom: 50px;
}
#contentHr{
  width: 500px;
  border: 1px solid lightgray;
}
#subTitleDiv{
  width: 130px;
  height: 500px;
  float: left;
  margin-left: 40px;
}
#contentDiv{
  width: 400px;
  height: 500px;
  float: right;
  margin-right: 20px;
}
#subTitleWrapper {
  display: inline-block;
  margin-top: 20px;
}
.subTitle{
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 20px;
  line-height: 3.9;
}
#emailTitle{
  margin-top: 50px;
}
#name, #birthYear, #birthMonth, #birthDay, #phone1, #phone2, #phone3, #id, #pwd, #pwdChk, #sample6_postcode, #sample6_address, #sample6_detailAddress, #sample6_extraAddress, #email1, #email2 {
  width: 352px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  padding-left: 10px;
  margin-top: 27px;
  border: none;
  outline: none;
  border-bottom: 1px solid lightgray;
}
#birthYear, #birthMonth, #birthDay{
  margin-top: 23px;
  width: 50px;
  padding-left: 0px;
  text-align: center;
}
#genderMan, #genderWoman{
  margin-top: 33px;
}
#phone1, #phone2, #phone3{
  font-size: 14px;
  width: 60px;
  margin-top: 29px;
  padding-left: 0px;
  text-align: center;
}
#phone2, #phone3 {
  width: 100px;
}
#id{
  width: 250px;
}
#id, #pwd, #pwdChk {
  margin-top: 21px;
}
#sample6_postcode {
  width: 150px;
}
#searchAddBtn, #searchIdBtn{
  width: 100px;
  height: 40px;
  border-radius: 30px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.4s;
}
#searchIdBtn{
  width: 120px;
}
#sample6_detailAddress{
  width: 170px;
}
#sample6_extraAddress{
  width: 164px;
}
#emailTitle{
  margin-top: 130px;
}
#email1{
  width: 150px;
}
#email2{
  width: 170px;
}
#joinBtn, #cancelBtn{
  margin-left: -44px;
  margin-top: 700px;
  height: 50px;
  width: 350px;
  font-size: 17px;
  font-weight: bold;
  color: white; 
  background-color: black;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  position: absolute;
  transition: all 0.4s;
}
#cancelBtn{
  margin-top: 760px;
  color: black; 
  background-color: white;
  border: 2px solid black;
}
#searchAddBtn:hover, #searchIdBtn:hover, #joinBtn:hover{
  border: none;
  background-color: rgb(99, 99, 99);
  color: whitesmoke;
}
#cancelBtn:hover{
  border: 2px solid rgb(225, 225, 225);
  background-color: rgb(225, 225, 225);
  color: rgb(84, 84, 84);
}
#label_name, #label_birth, #label_phone, #label_id, #label_pwd, #label_pwdChk, #label_address{
  width: 200px;
  margin-top: 5px;
  position: absolute;
}