#titleDiv{
  border-bottom: 1px solid black;
}
#contentDiv{
  width: 1300px;
  height: 500px;
  margin: auto;
  margin-top: 20px;
}
#sideDiv{
  border-right: 1px solid black;
  width: 200px;
  height: 600px;
  float: left;
  padding-top: 50px;
}
.subTitle{
  height: 40px;
  line-height: 40px;
  width: 170px;
  padding-left: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
}
.changeTitle{
  height: 60px;
  line-height: 60px;
  width: 170px;
  padding-left: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}
#eventDiv{
  width: 1095px;
  height: 500px;
  float: right;
  padding-top: 50px;
}
#eventTableMent{
  display: block;
  margin-left: 50px;
  margin-bottom: 10px;
  font-weight: bold;
}
#eventPlace{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 1000px;
  height: 440px;
  margin: auto;
}
#eventTable{
  width: 1000px;
  margin: auto;
  border-collapse: collapse;
}
#emtpyTd{
  height: 440px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: rgb(183, 183, 183);
}
.tdClass{
  height: 37px;
  border-bottom: 1px solid lightgray;
}
th{
  border-bottom: 1px solid black;
  height: 40px;
}
#NoId{
  text-align: center;
  font-weight: bold;
  width: 100px;
}
#titleId{
  padding-left: 20px;
}
#titleSpan{
  cursor: pointer;
}
#titleSpan:hover{
  text-decoration: underline;
}
#dateId{
  text-align: center;
  width: 220px;
}
#writeDiv{
  height: 30px;
  width: 1000px;
  margin: auto;
  margin-top: 10px;
  text-align: right;
}
#writeDiv > button{
  background-color: white;
  font-weight: bold;
  font-size: 14px;
  height: 30px;
  width: 80px;
  border-radius: 20px;
  cursor: pointer;
}
#pageDiv{
  height: 30px;
  width: 900px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}
#pageSpan{
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}
.arrowBtn{
  font-weight: bold;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}
#noName{
  color: white;
  user-select: none;
  cursor: default;
}