#titleDiv{
  border-bottom: 1px solid black;
}
#contentDiv{
  width: 1300px;
  height: 600px;
  margin: auto;
  margin-top: 20px;
}
#eventTable{
  border-collapse: collapse;
  margin: auto;
  margin-top: 50px;
  border-top: 1px solid gray;
}
td{
  border-bottom: 1px solid gray;
}
#titleId{
  height: 80px;
  width: 1000px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
#dateId{
  height: 50px;
  font-weight: bold;
  padding-left: 20px;
}
#dateId > span {
  display: block;
  float: right;
  margin-right: 30px;
}
#contentId{
  height: 350px;
  padding-left: 20px;
}
#btnDiv{
  height: 50px;
  width: 1000px;
  margin: auto;
  text-align: right;
}
#btnDiv > button{
  margin-top: 10px;
  margin-right: 10px;
  height: 30px;
  width: 60px;
  border-radius: 20px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}