#titleDiv{
  border-bottom: 1px solid black;
}
#contentDiv{
  width: 1300px;
  height: 500px;
  margin: auto;
  margin-top: 20px;
}
#contentTopDiv{
  border-bottom: 0px solid black;
  width: 1300px;
  height: 200px;
  margin-bottom: 30px;
}
#imgDiv{
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: 150px;
  float: left;
}
#infoDiv{
  height: 150px;
  width: 500px;
  margin-top: 20px;
  margin-left: 40px;
  float: left;
}
#infoDiv > div{
  height: 80px;
  width: 400px;
  margin-left: 20px;
}
#nameSpan{
  display: block;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 35px;
  font-weight: bold;
}
#countSpan, #pointSpan, #couponSpan{
  font-size: 17px;
  text-align: center;
  margin-top: 30px;
  margin-left: 20px;
  float: left;
}
#countSpan{
  cursor: pointer;
}
#countSpan, #pointSpan{
  margin-right: 70px;
}
#countSpan > span, #pointSpan > span, #couponSpan > span{
  font-weight: bold;
  font-size: 20px;
}
#sideDiv{
  border-right: 1px solid black;
  width: 200px;
  height: 850px;
  float: left;
  padding-top: 20px;
  padding-left: 100px;
}
#sideTitleDiv{
  border-bottom: 2px solid black;
  width: 170px;
  height: 30px;
  font-weight: bold;
  font-size: 18px;
  padding-left: 10px;
  cursor: pointer;
}
#sideContentDiv{
  width: 170px;
  height: 300px;
  padding-left: 10px;
  margin-top: 20px;
}
#sideContentDiv > div{
  margin-top: 50px;
  font-weight: bold;
  color: gray;
  cursor: pointer;
  transition: 0.3s;
}
#sideContentDiv > div:hover{
  color: black;
}
#myPageDiv{
  width: 900px;
  float: right;
  padding-top: 20px;
  margin-right: 50px;
}
#recentOrderTitle, #wishTitle{
  border-bottom: 2px solid black;
  width: 900px;
  height: 30px;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
}
#recentOrderTitle > div, #wishTitle > div{
  margin-right: 15px;
  margin-top: 10px;
  font-size: 15px;
  float: right;
  cursor: pointer;
}
#orderTable, #wishTable{
  width: 900px;
  border-collapse: collapse;
  margin-bottom: 150px;
  text-align: center;
}
th{
  border-bottom: 1px solid lightgray;
  height: 50px;
  font-size: 15px;
}
#orderTableFirst{
  height: 50px;
  width: 150px;
  text-align: center;
}
#orderTableSecond{
  text-align: left;
  padding-left: 20px;
  cursor: pointer;
  font-weight: bold;
}
#orderTableSecond:hover{
  text-decoration: underline;
}
#viewBtn{
  background-color: white;
  height: 25px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
#viewBtn:hover{
  background-color: rgb(230, 230, 230);
}
.tdClass{
  border-bottom: 1px solid lightgray;
}
#noOrderTd{
  height: 300px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: rgb(183, 183, 183);
}
.wishItemsTd{
  border-bottom: 1px solid lightgray;
  height: 270px;
  width: 180px;
  cursor: pointer;
  transition: 0.2s;
}
.wishItemsTd:hover{
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), -2px 2px 4px rgba(0, 0, 0, 0.2);
}
.emptywishItemsTd{
  border-bottom: 1px solid lightgray;
  height: 300px;
  width: 180px;
}
#wishItemsDiv{
  margin-top: 10px;
  height: 100px;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}
#nameDiv{
  height: 60px;
}
#priceDiv{
  height: 40px;
}
#wishSpan1{
  display: block;
  color: gray;
  font-size: 12px;
  font-weight: bold;
}
#wishSpan2{
  display: block;
  font-size: 14px;
  font-weight: bold;
}
#wishSpan3{
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}