#titleDiv{
  border-bottom: 1px solid black;
}
#contentDiv{
  width: 1300px;
  margin: auto;
  margin-top: 20px;
}
#contentTopDiv{
  border-bottom: 0px solid black;
  width: 1300px;
  height: 200px;
  margin-bottom: 30px;
}
#imgDiv{
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: 150px;
  float: left;
}
#infoDiv{
  height: 150px;
  width: 500px;
  margin-top: 20px;
  margin-left: 40px;
  float: left;
}
#infoDiv > div{
  height: 80px;
  width: 400px;
  margin-left: 20px;
}
#nameSpan{
  display: block;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 35px;
  font-weight: bold;
}
#countSpan, #pointSpan, #couponSpan{
  font-size: 17px;
  text-align: center;
  margin-top: 30px;
  margin-left: 20px;
  float: left;
}
#countSpan{
  cursor: pointer;
}
#countSpan, #pointSpan{
  margin-right: 70px;
}
#countSpan > span, #pointSpan > span, #couponSpan > span{
  font-weight: bold;
  font-size: 20px;
}
#wishListDiv{
  width: 1100px;
  margin: auto;
  padding-top: 20px;
}
#wishListTitle{
  border-bottom: 2px solid black;
  margin: auto;
  width: 1100px;
  height: 30px;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
}
#wishListTitle > div{
  margin-right: 15px;
  margin-top: -30px;
  font-size: 13px;
  float: right;
  cursor: default;
}
#wishListTitle > div > span{
  cursor: pointer;
}
#deleteAllBtn, #deleteBtn{
  background-color: white;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}
#deleteAllBtn{
  margin-top: -3px;
  margin-left: 70px;
  height: 30px;
}
#deleteAllBtn:hover, #deleteBtn:hover{
  background-color: rgb(241, 241, 241);
}
#wishTable{
  border-bottom: 2px solid black;
  width: 1100px;
  border-collapse: collapse;
  margin-bottom: 50px;
  text-align: center;
}
.wishItemsTd{
  border-bottom: 1px solid lightgray;
  height: 300px;
  width: 180px;
  cursor: pointer;
  transition: 0.2s;
}
.wishItemsTd:hover{
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), -2px 2px 4px rgba(0, 0, 0, 0.2);
}
.emptywishItemsTd{
  border-bottom: 1px solid lightgray;
  height: 300px;
  width: 180px;
}
#wishItemsDiv{
  margin-top: 10px;
  height: 100px;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}
#nameDiv{
  height: 60px;
}
#priceDiv{
  height: 25px;
}
#wishSpan1{
  display: block;
  color: gray;
  font-size: 12px;
  font-weight: bold;
}
#wishSpan2{
  display: block;
  font-size: 14px;
  font-weight: bold;
}
#wishSpan3{
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}
#deleteDiv{
  text-align: left;
  padding-left: 10px;
}
#noWishTd{
  height: 300px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: rgb(183, 183, 183);
}
#pageDiv{
  height: 30px;
  width: 1200px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}
#pageSpan{
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}
.arrowBtn{
  font-weight: bold;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}
#noName{
  color: white;
  user-select: none;
  cursor: default;
}